/* == BUTTON == */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 1.6rem;
  min-width: 23.2rem;
  border-radius: $rounded-pill;
  font-size: $text-sm;
  font-weight: $font-weight-bold;
  cursor: pointer;
  transition: $transition-base;
  text-decoration: none;

  &-primary {
    background-color: $primary-medium;
    box-shadow: $glow-one;
    color: $neutral-white;

    &:hover {
      background-color: $primary-dark;
    }
  }
}
